/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
  * COLOR
  */
   
   /* Background color */
  --bg-purple: hsla(267, 100%, 63%, 1);
  --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
  --bg-dark-purple: hsla(279, 42%, 9%, 1);
  --bg-oxford-blue: hsla(240, 63%, 13%, 1);
  --bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
  --bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
  --bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);
  --bg-main-color:orange;
  /* Gradient color */
  --gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%),
   hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
  --gradient-2: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);

  /* Text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gainsboro: hsla(0, 0%, 87%, 1);
  --text-champagne-pink: hsla(23, 61%, 86%, 1);
  --text-purple: hsla(267, 100%, 63%, 1);

  /* Border color */
  --border-space-cadet: hsl(240, 45%, 17%);
  --border-purple-alpha-30: hsla(267, 100%, 63%, 0.3);

  /**
  * TYPOGRAPHY
  */

  /* Font family */
  --fontFamily-oxanium: 'Oxanium', cursive;
  --fontFamily-work-sans: 'Work Sans', sans-serif;

  /* Font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.5rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1.2rem;

  /* Font weight */
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
  * BORDER RADIUS  
  */
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  /**
  * SPACING  
  */
  --section-spacing: 60px;

  /**
  * SHADOW  
  */
  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);

  /**
  * Clip path 
  */
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

  /**
  * TRANSITION  
  */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
} 



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
span,
img,
input,
button,
textarea,
time {display: block;}

li {list-style: none;}

a {
  color: inherit;
  text-decoration: none;
}

button {cursor: pointer;}

img {height: auto;}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {width: 100%;}

ion-icon {pointer-events: none;}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark-purple);
  background-image: url("/assets/images/body-bg.jpg");
  background-repeat: repeat;
  color: var(--text-gainsboro);
  font-family: var(--fontFamily-oxanium); 
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
}

::-webkit-scrollbar {width: 8px;}

::-webkit-scrollbar-track {background-color: var(--bg-dark-purple);}

::-webkit-scrollbar-thumb {background-color: var(--bg-purple);}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {padding-inline: 12px}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}


.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.title {color: var(--text-white);}

h1, h3 {line-height: 1.3;}

.h1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
}

.h2 {
  font-size: var(--fontSize-2);
  line-height: 1.4;
}

.h3 {font-size: var(--fontSize-3);}

.section-title,
.section-subtitle,
.section-text {text-align: center;}

.section-subtitle {
  color: var(--text-white);
  font-size: var(--fontSize-5);
  text-transform: uppercase;
  font-weight: var(--weight-semiBold);
}

.btn {
  display: grid;
  place-items: center;
  position: relative;
  background-image: var(--gradient-1);
  color: var(--text-white);
  font-size: var(--fontSize-6);
  max-width: max-content;
  min-width: 180px;
  height: 50px;
  line-height: 50px;
  padding-inline: 30px;
  clip-path: var(--clip-path-3);
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  width: 250%;
  padding-block-end: 250%;
  background-color: var(--bg-purple);
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--radius-circle);
  z-index: -1;
  transition: transform var(--transition-2);
}

.btn:is(:hover, :focus-visible)::before {transform: translate(-50%, -50%) scale(1);}

.w-100 {width: 100%;}

.section {padding-block: var(--section-spacing);}

.section-title {
  margin-block: 10px;
  text-transform: uppercase;
}

.section-title .span {
  display: inline;
  color: var(--text-purple);
}

.section-text {
  margin-block-end: 40px;
  max-width: 480px;
  margin-inline: auto;
}

.social-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img-holder {
  background-color: var(--bg-purple);
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-reveal] {
  opacity: 0;
  transition: var(--transition-2);
}

[data-reveal="left"] {transform: translateX(-20px);}

[data-reveal="right"] {transform: translateX(20px);}

[data-reveal="bottom"] {transform: translatey(20px);}

[data-reveal].revealed {
  opacity: 1;
  transform: translate(0);
} 

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


.header .btn {display: none;}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-oxford-blue);
  padding: 10px 12px;
  z-index: 4;
}
  .header.active {
    position: fixed;
    animation: slideUp 1s ease forwards;
  }

  @keyframes slideUp {
    0% { transform: translateY(-100%); }
    100% {transform: translateY(0); }
  }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn .line {
  height: 3px;
  width: 10px;
  margin-block: 4px ;
  background-color: var(--text-gainsboro);
  border-radius: 8px;
  transition: var(--transition-1);
}

.nav-toggle-btn .line-2 {width: 20px;}

.nav-toggle-btn .line-3 {margin-inline-start:auto}

.nav-toggle-btn.active .line-2 {transform: rotate(-45deg);}

.nav-toggle-btn.active .line-1 {transform: rotate(45deg) translate(4px, 1.5px);}

.nav-toggle-btn.active .line-3 {transform: rotate(45deg) translate(-3px, -1px);}

.navbar {
  position: absolute;
  top: calc(100% - 1%);
  left: 12px;
  right: 12px;
  background-color: var(--bg-oxford-blue);
  padding: 0 15px;
  clip-path: var(--clip-path-1);
  transition: clip-path 500ms var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  clip-path: var(--clip-path-2);
}

.navbar-link {
  padding: 10px;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  color: var(--text-white);
}

.navbar-item {border-block-start: 1px solid var(--border-space-cadet);}

.navbar-item:last-child {border-block-end: 1px solid var(--border-space-cadet);}


/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: 170px;
  text-align: center;
}

.hero .section-subtitle {letter-spacing: 5px;}

.hero-title {margin-block: 20px 25px;}

.hero .btn {margin-inline: auto;}

.hero::before {
  background-image: var(--gradient-2);
  bottom: 0;
  left: 0;
  height: 4px;
  z-index: 1;
}

.hero-banner {
  position: relative;
  margin-block-start: 50px;
}

.hero-banner-bg {display: none;}


/*-----------------------------------*\
  #UPCOMING
\*-----------------------------------*/

.upcoming-item:not(:last-child) {margin-block-end: 90px;}

.upcoming-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-card::before {
  top: 50%;
  background-image: var(--gradient-1);
  transform: translateY(-50%);
  width: 90%;
  height: 80px;
  z-index: -1;
  opacity: 0.3;
  border-radius: var(--radius-5);
}

.upcoming-card.left::before {
  right: 0;
  clip-path: var(--clip-path-4);
}

.upcoming-card.right::before {
  left: 0;
  clip-path: var(--clip-path-6);
}

.upcoming-card .card-title {text-transform: uppercase;}

.upcoming-card.left .card-title {
  margin-inline-end: 50px;
  text-align: right;
}

.upcoming-card.right .card-title {
  margin-inline-start: 50px;
  text-align: left;
}

.upcoming-card .card-meta {
  position: absolute;
  bottom: -20%;
  background-image: var(--gradient-1);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 6px 20px;
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-7);
  border-radius: var(--radius-3);
}

.upcoming-card.left .card-meta {clip-path: var(--clip-path-5);}

.upcoming-card.right .card-meta {clip-path: var(--clip-path-7);}

.upcoming-card .card-banner {width: 30%;}

.upcoming-card.right .card-banner {order: 1;}

.upcoming-time {margin-block: 50px 30px;}

.upcoming-time :is(.time, .date) {text-align: center;}

.upcoming-time .time {
  font-size: var(--fontSize-1);
  color: var(--text-white);
  font-weight: var(--weight-bold);
  line-height: 1;
}

.upcoming .date {
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  margin-block: 5px
}

.upcoming-item .social-wrapper {justify-content: center;}

.upcoming-item .social-link {
  font-size: 2.5rem;
  transition: var(--transition-1);
  color: var(--text-white);
}

.upcoming-item .social-link:is(:hover, :focus) {color: var(--text-purple);}

/*-----------------------------------*\
  #NEWS
\*-----------------------------------*/

.news-list {
  display: grid;
  gap: 30px;
}

.news-card {
  background-color: var(--bg-oxford-blue-alpha-90);
  box-shadow: var(--shadow);
}

.news-card .card-content {
  position: relative;
  padding: 30px;
}

.card-content .card-tag {
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 30px;
  background-image: var(--gradient-1);
  padding-inline: 20px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: var(--weight-semiBold);
  clip-path: var(--clip-path-3);
}

.news-card :is(.card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}

.news-card .card-meta-list {
  flex-wrap: wrap;
  gap: 5px 10px;
}

.news-card .card-meta-item {gap: 5px;}

.news-card .card-meta-item ion-icon {color: var(--text-purple);}

.news-card .card-meta-text,
.news-card .link {
  color: var(--text-champagne-pink);
  font-size: var(--fontSize-7);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.news-card .h3 {margin-block: 15px 10px;}

.news-card .card-title {
  display: inline;
  background-image: linear-gradient(to left, var(--bg-purple), var(--bg-purple));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 4%;
  transition: var(--transition-2);
}

.news-card .card-title:is(:hover, :focus-visible) {background-size: 100% 4%;}

.news-card .link {
  margin-block-start: 20px;
  padding-inline-start: 30px;
  max-width: max-content;
  transition: var(--transition-1);
}

.news-card .link::before {
  left: 0;
  top: 50%;
  height: 4px;
  width: 20px;
  background-color: var(--text-purple);
  transform: translateY(-50%);
}

.news-card .link:is(:hover, :focus-visible) {color: var(--text-purple);}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-top .container {
  display: grid;
  gap: 35px;
}

.footer-text {margin-block: 20px 25px;}

.social-list {
  display: flex;
  gap: 20px;
}

.footer .social-link {
  width: 40px;
  height: 40px;
  background-color: var(--bg-purple-alpha-30);
  display: grid;
  place-items: center;
  clip-path: var(--clip-path-8);
  transition: var(--transition-1);
  cursor: pointer;
}

.footer .social-link:is(:hover, :focus-visible) {
  background-color: var(--bg-purple);
  transform: translateY(-3px);
}

.footer-list-title {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-semiBold);
  line-height: 1;
  position: relative;
  padding-block-end: 10px;
  margin-block-end: 20px;
  max-width: max-content;
}

.footer-list-title::after {
  height: 4px;
  width: 50%;
  left: 0;
  bottom: 0;
  background-color: var(--bg-purple);
}

.footer-link {
  padding-block: 5px;
  color: var(--text-white);
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible) {color: var(--text-purple);}

.contact-item .span {
  font-size: var(--fontSize-7);
  color: var(--text-purple);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
}

.contact-item:not(:last-child) {
  padding-block-end: 15px;
}

.input-field {
  padding:18px 12px;
  box-shadow: var(--shadow);
  border: 2px solid var(--border-purple-alpha-30);
  background-color: var(--bg-oxford-blue-alpha-90);
  outline: none;
  margin-block-end: 20px;
  font-size: var(--fontSize-5);
  color: var(--text-white);
}

.input-field::placeholder{color: var(--text-white);}

.footer-bottom {
  background-color: var(--bg-oxford-blue-alpha-90);
  clip-path: var(--clip-path-9);
}

.copyright {text-align: center;}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  background-image: var(--gradient-1);
  display: grid;
  place-items: center;
  z-index: 4;
  font-size: 2.1rem;
  opacity: 0;
  transition: var(--transition-1);
  clip-path: var(--clip-path-8);
}

.back-top-btn.active {
  opacity: 1;
  transform: translateY(-20px);
}


/*-----------------------------------*\
  #CUSTOM CURSOR
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

 @media (min-width:575px) {
  /**
  * REUSED STYLE
  */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  /**
  * HEADER
  */
  .header .logo img {width: 160px;}

  /**
  * UPCOMING  
  */

  .upcoming-card.left .card-meta {
    left: auto;
    right: -15%;
  }
  .upcoming-card.right .card-meta {
    left: 25%;
  }

  /**
  * FOOTER  
  */

  .footer-top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


 }

/**
 *responsive for larger than 768px screen
 */

 @media (min-width:768px) {
  /**
  * CUSTOM PROPERTY
 */

 :root {

  /**
  *TYPOGRAPHY
  */

  --fontSize-1: 6.5rem;
  --fontSize-2: 3.2rem;
  }

  /** 
  * REUSED STYLE 
  */
  .container {max-width: 720px;}

  .h1 {line-height: 1;}

  /**
  * HERO 
  */

  .hero .section-subtitle {letter-spacing: 10px;}

  .hero-banner-bg {
    display: block;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: scale(1.3);
    transform-origin: bottom;
  }

  /**
  * UPCOMING
  */

  .upcoming-card::before {height: 110px;}

  .upcoming-card .card-meta {
    bottom: 20px;
    padding-block: 10px;
  }

  .upcoming-card.left .card-meta {right: -10%;}

  .upcoming-card.right .card-meta {left: 20%;}

  .upcoming-card .card-title {--fontSize-3: 2.8rem}

  .upcoming-time .time {--fontSize-1: 5rem}

  /**
  * NEWS
  */

  .news-list {grid-template-columns: 1fr 1fr;}

  /**
  * BACK TO TOP
  */

  .back-top-btn {right: 50px;}

 }

 /**
 *responsive for larger than 992px screen
 */

 @media (min-width:992px) {

  /**
  * CUSTOM PROPERTY
  */

  :root {

    /**
    * TYPOGRAPHY
    */

    /* font-size */

    --fontSize-2: 4.5rem;

    /**
    * SPACING
    */

    --section-spacing: 100px;

  }

  /**
  * REUSED STYLE
  */

  .container {max-width: 960px;}

  .h2 {line-height: 1.1;}

  /**
  * HEADER
  */

  .nav-toggle-btn {display: none;}

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-item,
  .navbar-item:last-child {border: none;}

  .navbar-list {display: flex;}

  .header .btn {
    display: grid;
    text-align: center;
  }

  /**
  * HERO
  */

  .hero-banner-bg {transform: scale(1.2);}

  /**
  * UPCOMING
  */

  .upcoming-item {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    align-items: center;
  }

  .upcoming-time {margin-block: 0;}

  .upcoming-card .card-meta {
    bottom: -30px;
    transform: translateX(-50%);
    left: 50%;
  }

  .upcoming-card.right .card-meta {left: 50%;}

  /**
  * NEWS
  */

  .news-list {grid-template-columns: repeat(3, 1fr);}

  /**
  * FOOTER
  */

  .footer-top .container {grid-template-columns: repeat(4, 1fr);}


 }

 /**
 * responsive for larger than 1200px screen
  */

  @media (min-width:1200px) {
  /**
  * REUSED STYLE
  */

  .container {max-width: 1140px;}

  .section-text {margin-block-end: 60px;}

  /**
  * HERO
  */

  .hero {padding-block-start: 240px;}

  .hero-banner-bg {transform: scale(1.2);}

  .hero-banner .w-100 {
    max-width: max-content;
    margin-inline: auto;
  }

  /**
  UPCOMING
  */

  .upcoming-card .card-banner {
    height: 180px;
    width: auto;
  }

  .upcoming-card .card-meta {bottom: 0;}

  .upcoming-card.right .card-meta {left: 35%;}

  .upcoming-time .time {--fontSize-1: 6.8rem;}

  /**
  * FOOTER
  */

  .footer-top .container {grid-template-columns: 1fr 0.5fr 0.5fr 1fr;}

  .footer .logo img {width: 205px;}

    /**
  * BACK TO TOP
  */

  .back-top-btn {right: 70px;}


  }
